%h4
  We Are Still Here!

%br
%p
  We know you haven't heard from us in a while, but just to let you know, we are still here scanning your
  %strong
    = @wishlist.name
  wishlist.

%p
  We just thought we would let you know that we are still working away in the background.