%h4
  Updates To Emails For
  = @wishlist.name

%br
%p
  We didn't find any items in your wishlist that came under your threshold this time.

%p
  We won't send you anymore emails until we do find something.

%p
  Don't worry though, just becuase you don't hear from us doesn't mean we aren't here. We will keep working in the background.