/* ----------------------------------------------- */
/* !Modal Styles */
/* ----------------------------------------------- */

.modal-form-button {
  margin-top: 30px;
}

.checkbox-inline {
  color: #666;
}

// Floating Label Modifications
.form-control-wrapper .floating-label {
  opacity: 1;
}

.form-control-wrapper .form-control.input-lg:focus ~ .floating-label,
.form-control-wrapper .form-control.input-lg:not(.empty) ~ .floating-label {
  top: -11px;
  font-size: 14px;
}


/* ----------------------------------------------- */
/* !Home Screen */
/* ----------------------------------------------- */

#second_sentence {
  font-size: 16px;
}


/* ----------------------------------------------- */
/* !Dashboard */
/* ----------------------------------------------- */

#threshold_input {
  font-size: 16px;
  color: #666;
}


/* ----------------------------------------------- */
/* !Wishlist Show */
/* ----------------------------------------------- */

#wishlist-scan-results {
  font-size: 16px;
}


/* ----------------------------------------------- */
/* !Contact Form */
/* ----------------------------------------------- */

.hidden {
  display: none;
}


/* ----------------------------------------------- */
/* !Flash */
/* ----------------------------------------------- */

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}



