#edit_wishlist_modal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h2.modal-title Edit Wishlist Details
        %br

      .modal-body
        %p
          Use the form below to update the details of your wishlist.
        %br

        = form_for(@wishlist) do |f|
          %fieldset
            .form-group
              .input-group
                %span.input-group-addon#threshold_input £/$
                = f.number_field :threshold_float, :class => "form-control input-lg floating-label", :placeholder => "Price Threshold - for example 5.00 or 0.99", :type => "number", :step => '0.01'

            .form-group
              %p
                Would you like to limit the scan to Kindle books only?
              .input-group
                .togglebutton
                  %label
                    = f.check_box :kindle_only
                    Kindle Books Only

            .form-group
              %p
                How often would you like to receive an email update?
              .input-group
                = f.select(:frequency, [ 'Daily', 'Weekly'], {:prompt => 'Select One'}, { :class => 'form-control' })

          .form-group.modal-form-button
            %button.btn.btn-primary.btn-block.btn-lg{:type => "submit"}
              Update Wishlist

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
